%% ==================================================================================================
%% Case 11 — Receptor Erlang/Cowboy con persistencia Mnesia (embebida en la BEAM).
%% ==================================================================================================
{erl_opts, [debug_info]}.

{deps, [
    {cowboy, "2.12.0"}
]}.

{relx, [
    {release, {social_bot_dest, "1.0.0"}, [social_bot_dest]},
    {mode, prod},
    {include_erts, true},
    {extended_start_script, true}
]}.

{profiles, [
    {prod, [{relx, [{mode, prod}, {include_erts, true}]}]}
]}.
